<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteFolder - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
	@if(TempData.ContainsKey("LastAction")) {
		<div id="lastAction"><span id="lastActionText" class="userData">@TempData["LastAction"]</span></div>
	}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NoteFolder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
			@if(User.Identity.IsAuthenticated) {
				using(Html.BeginForm("LogOut", "User")) {
					@Html.AntiForgeryToken()
					<button class="logInOutBtn btn" type="submit">Log Out</button>
				}
			}
			else {
				@Html.ActionLink("Log In", "Login", "User", null, new { @class = "logInOutBtn btn", id = "mainLogInBtn" })
			}
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Derrick Creamer</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
	@RenderSection("PageScripts", false)
</body>
</html>