@model LogInVM

<h2>Log In</h2>

@Html.ValidationSummary(false)

@using(Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.LabelFor(x => x.Email)
	@Html.TextBoxFor(x => x.Email)
	@Html.LabelFor(x => x.Password)
	@Html.PasswordFor(x => x.Password)
	@Html.HiddenFor(x => x.ReturnURL)
	<button class="btn" type="submit">Log In</button>
}

<div id="registerForm">
	@using(Html.BeginForm("Register", "Auth", FormMethod.Get)) {
		<input type="hidden" name="returnURL" value="@Model.ReturnURL" />
		<button class="btn" type="submit">Register a new account</button>
	}
</div>

<style> #mainLogInBtn{ visibility: hidden; } </style> @* There are a few ways to do this. This one seems okay. *@
