@model FileVM

<div id='@("contentsFor" + Model.ExistingID.ToString())'>
	@if(Model.IsFolder) {
		if(Model.DirectChildren.Count == 0) {
			<span class="fileContents emptyContents">(empty)</span>
		}
		else {
			<ul class="fileContents">
				@foreach(var child in Model.DirectChildren) {
					<li>
						@{
							string childBaseID = "For" + child.ExistingID.ToString();
							string icon = "glyphicon-" + (child.IsFolder ? "folder-close" : "file");
						}
						<div class="contentRow">
							<form class="loadContentsForm" id='@childBaseID'>
								<input type="hidden" name="Path" value="@child.Path" />
								<button class="glyphContainer loadContentsBtn" type="submit">
									<i class="glyphicon @icon fileGlyph"></i>
								</button>
							</form>
							@Html.ActionLink(child.Name, "Index", "File", new { path = child.Path }, new { @class = "contentNameLink userData" })
							@if(!string.IsNullOrEmpty(child.Description)) {
								<span class="contentDesc userData">@child.Description</span>
							}
						</div>
						<span id='@("contents" + childBaseID)'></span>
					</li>
				}
			</ul>
		}
	}
	else{
		if(string.IsNullOrEmpty(Model.Text)){
			<span class="fileContents emptyContents">(empty)</span>
		}
		else{
			<p class="fileContents noteText userData">@Model.Text</p>
		}
	}
</div>