@model FileVM

<div id='@("contentsFor" + Model.ExistingID.ToString())'>
	@if(Model.IsFolder) {
		<ul>
			@foreach(var child in Model.DirectChildren) {
				<li>
					@{
						string childBaseID = "For" + child.ExistingID.ToString();
					}
					<form class="loadContentsForm" id='@childBaseID'>
						<input type="hidden" name="Path" value="@child.Path" />
						<input class="loadContentsBtn" type="submit" value="(+)" />
					</form>
					@Html.ActionLink(child.Name, "Index", new { path = child.Path })
					@if(!string.IsNullOrEmpty(child.Description)){
						@: ( @child.Description )
					}
					<span id='@("contents" + childBaseID)'></span>
				</li>
			}
		</ul>
	}
	else{
		<p>
			@Model.Text
		</p>
	}
</div>