@model FileVM

@{
	string divID = Model.IsFolder? "createFolderForm" : "createNoteForm";
	string submitString = Model.IsFolder? "Create Folder" : "Create Note";
	string openClass = IsAjax? "open" : null;
}

<div id='@divID' class='collapsible @openClass'>
	@using(Ajax.BeginForm("Create", "File", new AjaxOptions {   OnSuccess = $"checkUpdateSuccess(data, '{divID}')" })) {
		@Html.AntiForgeryToken()
		<div class="createFormName createFormInput">
			@Html.ValidationMessage("Name")
			@Html.Label("Name")
			@Html.TextBox("Name")
		</div>
		<div class="createFormDesc createFormInput">
			@Html.Label("Description")
			@Html.TextBox("Description")
		</div>
		if(!Model.IsFolder) {
			<div class="createFormText createFormInput">
				@Html.Label("Text")
				@Html.TextArea("Text")
			</div>
		}
		@Html.Hidden("IsFolder")
		@Html.Hidden("Path")
		@Html.Hidden("ParentID")
		<button class="btn" type="submit">@submitString</button>
	}
</div>
