@model FileVM

@{
	string divID = Model.IsFolder? "createFolderForm" : "createNoteForm";
	string submitString = Model.IsFolder? "Create Folder" : "Create Note";
	string openClass = IsAjax? "open" : null;
}

<div id='@divID' class='collapsible @openClass'>
	@using(Ajax.BeginForm("Create", "File", new AjaxOptions {   OnSuccess = $"checkAjaxSuccess(data, '{divID}')" })) {
		@Html.ValidationMessage("Name")
		@Html.Label("Name")
		@Html.TextBox("Name")
		@Html.Label("Description")
		@Html.TextBox("Description")
		if(!Model.IsFolder) {
			@Html.Label("Text")
			@Html.TextArea("Text")
		}
		@Html.Hidden("IsFolder")
		@Html.Hidden("Path")
		@Html.Hidden("ParentID")
		<input type="submit" value="@submitString" />
	}
</div>
