@model FileVM

@{
	string divID = Model.IsFolder? "createFolderForm" : "createNoteForm";
	string buttonID = Model.IsFolder? "createFolderBtn" : "createNoteBtn";
	string submitString = Model.IsFolder? "Create Folder" : "Create Note";
	string openClass = IsAjax? "open" : null;
}

<div id='@divID' class='collapseForm collapsible @openClass'>
	@using(Ajax.BeginForm("Create", "File",
		new AjaxOptions {
			OnSuccess = $"checkUpdateSuccess(data, status, xhr, '{divID}', '{buttonID}')",
			OnFailure = $"ajaxError(xhr, status, error, '{divID}')"
		}
	)) {
		@Html.AntiForgeryToken()
		<div class="allTextInputsSection">
			<div class="nameDescSection">
				<div class="formSection">
					@Html.ValidationMessage("Name")
					@Html.Label("Name")
					@Html.TextBox("Name")
				</div>
				<div class="formSection">
					@Html.Label("Description")
					@Html.TextBox("Description")
				</div>
			</div>
			@if(!Model.IsFolder) {
				<div class="formSection">
					@Html.Label("Text")
					@Html.TextArea("Text")
				</div>
			}
		</div>
		@Html.Hidden("IsFolder")
		@Html.Hidden("Path")
		@Html.Hidden("ParentID")
		<button id='@buttonID' class="btn" type="submit">@submitString</button>
	}
</div>
