@model FileVM

@* Very similar to Create. Consider whether merging them would save time, or whether they might need to diverge in the future.*@
@if(Model != ViewBag.RootFile) {
	<div id='editForm'>
		@using(Ajax.BeginForm("Edit", "File", new AjaxOptions { OnSuccess = $"checkAjaxSuccess(data, 'editForm')" })) {
			@Html.ValidationMessage("Name")
			@Html.Label("Name")
			@Html.TextBox("Name")
			@Html.Label("Description")
			@Html.TextBox("Description")
			if(!Model.IsFolder) {
				@Html.Label("Text")
				@Html.TextArea("Text")
			}
			@Html.Hidden("Path")
			@Html.Hidden("ExistingID")
			<input type="submit" value="Edit" />
		}
	</div>
}
