@model FileVM

@{
	string openClass = IsAjax? "open" : null;
	string editForm = "editForm";
}
<div id='@editForm' class='collapsible @openClass'>
	@using(Ajax.BeginForm("Edit", "File",
		new AjaxOptions {
			OnSuccess = $"checkUpdateSuccess(data, status, xhr, '{editForm}', 'submitEditBtn')",
			OnFailure = $"ajaxError(xhr, status, error, '{editForm}')"
		}
	)) {
		@Html.AntiForgeryToken()
		@Html.ValidationMessage("Name")
		@Html.Label("Name")
		@Html.TextBox("Name")
		@Html.Label("Description")
		@Html.TextBox("Description")
		if(!Model.IsFolder) {
			@Html.Label("Text")
			@Html.TextArea("Text")
		}
		@Html.Hidden("Path")
		@Html.Hidden("IsFolder")
		@Html.Hidden("ExistingID")
		@Html.Hidden("ParentID")
		<button id="submitEditBtn" class="btn" type="submit">Edit</button>
	}
	@Html.Partial("_Delete", Model)
</div>
