@model FileVM

@{
	string openClass = IsAjax? "open" : null;
	string editForm = "editForm";
}
<div id='@editForm' class='collapseForm collapsible @openClass'>
	@using(Ajax.BeginForm("Edit", "File", null,
		new AjaxOptions {
			OnSuccess = $"checkUpdateSuccess(data, status, xhr, '{editForm}', 'submitEditBtn')",
			OnFailure = $"ajaxError(xhr, status, error, '{editForm}')"
		}
	)) {
		@Html.AntiForgeryToken()
		<div class="allTextInputsSection">
			<div class="nameDescSection">
				<div class="formSection">
					@Html.ValidationMessage("Name")
					@Html.Label("Name")
					@Html.TextBox("Name")
				</div>
				<div class="formSection">
					@Html.Label("Description")
					@Html.TextBox("Description")
				</div>
			</div>
			@if(!Model.IsFolder) {
				<div class="formSection">
					@Html.Label("Text")
					@Html.TextArea("Text")
				</div>
			}
		</div>
		@Html.Hidden("Path")
		@Html.Hidden("IsFolder")
		@Html.Hidden("ExistingID")
		@Html.Hidden("ParentID")
		<button id="submitEditBtn" class="btn" type="submit">Edit</button>
	}
	@Html.Partial("_Delete", Model)
</div>
