@model FileVM

@* todo: Decide on a good place to put bits of js like this.
	It makes sense to keep it with the _Create view,
	but it's more efficient to only load it once. *@
<script type="text/javascript">
	function checkAjaxSuccess(result, id) {
		if (result.success) {
			window.location.href = '/guest/files/' + result.path; @* todo: username will go here *@
		}
		else {
			$('#' + id).html(result.html);
		}
	}
</script>

<div>
	@Html.ActionLink("Guest's files", "Index", new { path = "" })
	@{ var pathSections = Model.Path.Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries); }
	@for(int i = 1;i<pathSections.Length;++i) {
		string[] partialPath = new string[i];
		Array.Copy(pathSections, partialPath, i);
		string path = string.Join("/", partialPath);

		<span class="pathSeparator"> / </span>@Html.ActionLink(partialPath[i - 1], "Index", new { path = path })
	}
	@* name, desc, time x2 *@
	@TempData["LastAction"]
	@Html.Partial("_Edit", Model)
	@if(Model.IsFolder) { @* todo: Hide forms until buttons are clicked *@
		@Html.Partial("_Create", new FileVM { IsFolder = true, ParentID = Model.ExistingID, Path = Model.Path })
		@Html.Partial("_Create", new FileVM { IsFolder = false, ParentID = Model.ExistingID, Path = Model.Path })
	}
	else {

	}
	@Html.Partial("_Contents", Model)
</div>
