@model NoteFolder.ViewModels.FileVM

@helper DisplayFileInfo(NoteFolder.ViewModels.FileVM file, int indent) {
	<div style="margin-left: @(indent*5)%">
		<table class="table table-condensed">
			<tr><td>@file.Name</td></tr>
			<tr><td>@file.Description</td></tr>
			<tr><td>@file.TimeCreated</td></tr>
			<tr><td>@file.TimeLastEdited</td></tr>
			@if(file.DirectChildren != null && file.DirectChildren.Any()) {
				<tr><td>@DisplayChildren(file.DirectChildren, indent)</td></tr>
			}
		</table>
	</div>
}

@helper DisplayChildren(IEnumerable<NoteFolder.ViewModels.FileVM> children, int layer) {
	if(children != null && children.Any()) {
		<ul>
			@foreach(var child in children) {
				<li>
					@DisplayFileInfo(child, layer+1)
				</li>
			}
		</ul>
	}
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
		@if(Model.IsFolder) {
			@* todo: Hide forms until Create Note / Create Folder buttons are clicked *@
			using(Html.BeginForm("Create", "File")) {
				@Html.TextAreaFor(x => x.Text)
				<input type="submit" value="Create" />
			}
		}
		else {

		}
		@* todo: Make name & description editable for all files *@
		@DisplayFileInfo(Model, 0)
    </div>
</body>
</html>
