@model NoteFolder.ViewModels.FileVM

@{
    Layout = null;
}

@helper DisplayFileInfo(NoteFolder.ViewModels.FileVM file, int indent) {
	<div style="margin-left: @(indent*5)%">
		<table class="table table-condensed">
			<tr><td>@file.Path</td></tr>
			<tr><td>@file.Name</td></tr>
			<tr><td>@file.Description</td></tr>
			<tr><td>@file.Text</td></tr>
			<tr><td>@file.TimeCreated</td></tr>
			<tr><td>@file.TimeLastEdited</td></tr>
		</table>
	</div>
}

@helper DisplayChildren(IEnumerable<NoteFolder.ViewModels.FileVM> children, int layer) {
	<ul>
		@foreach(var child in children) {
			<li>
				@DisplayFileInfo(child, layer+1)
				@if(child.Children.Any()) {
					@DisplayChildren(child.Children, layer+1)
				}
			</li>
		}
	</ul>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
		@DisplayFileInfo(Model, 0)
		@if(Model.Children.Any()) {
			@DisplayChildren(Model.Children, 0)
		}
    </div>
</body>
</html>
